.LevelE {
  color: red;
}

.LevelD {
  color: blue;
}

.LevelI {
  color: green;
}

.LevelW {
  color: orange;
}

.LevelV {
  color: black;
}

#logtable {
  float: left;
  width: calc(100% - 200px);
  height: calc(100% - 70px);
  font-size: 12px;
  outline: none;
}
