.LevelE {
  color: #f75d5d;
}

.LevelD {
  color: #5869ff;
}

.LevelI {
  color: #216607;
}

.LevelW {
  color: orange;
}

.LevelV {
  color: #373737;
}

#logtable {
  float: left;
  width: calc(100% - 200px);
  height: calc(100% - 70px);
  font-size: 11px;
  outline: none;
}
