#header {
  width: 100%;
  height: 70px;
  background-color: rgb(220, 220, 220);
  padding-left: 10px;
  padding-right: 10px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#header > #command-buttons {
  position: relative;
  display: inline-block;
  top: 18px;
  -webkit-app-region: no-drag;
}

#header > #command-buttons > .btn {
  margin-left: 5px;
  outline: none;
  background-color: rgb(240, 240, 240);
}

#command-buttons > .dropdown {
  margin-left: 5px;
}

#header > #autoscroll {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 15px;
  top: 35px;
  -webkit-app-region: no-drag;
}

#header > #status-bar {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 30px;
  top: 35px;
  -webkit-app-region: no-drag;
}
